# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-added-large-files
- repo: https://github.com/pre-commit/mirrors-isort
  rev: v5.9.3
  hooks:
  - id: isort
- repo: https://github.com/psf/black
  rev: 21.10b0
  hooks:
  - id: black
- repo: https://github.com/PyCQA/pylint
  rev: pylint-2.6.0
  hooks:
  - id: pylint
    additional_dependencies:
    - aioimaplib==0.9.0
    - aiohttp==3.7.3
    - dataclasses-serialization==1.3.1
    - prometheus_client==0.11
    - pytest==6.2.1
    - requests==2.26.0
    - uvicorn==0.15.0
    - xsdata==21.9
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.910
  hooks:
  - id: mypy
    additional_dependencies: ["types-requests==2.25.11"]
