[Unit]
Description=Export Prometheus metrics from DMARC reports.

[Service]
ExecStart=/usr/bin/python3 -m dmarc_metrics_exporter
Environment=PYTHONUNBUFFERED=1
Restart=on-failure
User=dmarc-metrics
PrivateTmp=yes
PrivateDevices=yes
ProtectSystem=full
ProtectHome=read-only
NoNewPrivileges=yes

[Install]
WantedBy=default.target
