{
    "listen_addr": "{{ listen_addr }}",
    "port": {{ listen_port }},
    "imap": {
        "host": "{{ imap_host }}",
        "port": {{ imap_port }},
        "username": "{{ imap_username }}",
        "password": "{{ imap_password }}"
    },
    "folders": {
        "inbox": "{{ folder_inbox }}",
        "done": "{{ folder_done }}",
        "error": "{{ folder_error }}"
    },
    "storage_path": "/var/lib/dmarc-metrics-exporter",
    "poll_interval_seconds": {{ poll_interval_seconds }},
    "deduplication_max_seconds": {{ deduplication_max_seconds }}
}
