name: Docker

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

on:
  workflow_call:
    inputs:
      version:
        description: 'Git reference to extract version from  to build a Docker image for.'
        required: true
        type: string
    secrets:
      DOCKERHUB_USERNAME:
        required: true
      DOCKERHUB_TOKEN:
        required: true
  workflow_dispatch:
    inputs:
      version:
        description: 'Published version on PyPI to build a Docker image for.'
        required: true

env:
  IMAGE_NAME: jgosmann/dmarc-metrics-exporter


jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Set version from ref
        id: version
        run: REF=${{ inputs.version }}; TAG=${REF#refs/*/}; echo "version=${TAG#v}" >> $GITHUB_OUTPUT

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # https://github.com/docker/login-action
      - name: Log into registry ${{ env.REGISTRY }}
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Extract metadata (tags, labels) for Docker
      # https://github.com/docker/metadata-action
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.IMAGE_NAME }}

      - name: Check if prerelease
        id: check-prerelease
        uses: ./.github/actions/check-prerelease
        with:
          version: ${{ steps.version.outputs.version }}

      - name: Get latest release
        id: latest-version
        uses: ./.github/actions/get-latest-release
        with:
          package: dmarc-metrics-exporter

      - name: Set tags
        id: set-tags
        shell: bash
        run: |
          {
            echo 'TAGS<<EOF'
            echo ${{ env.IMAGE_NAME }}:${{ steps.version.outputs.version }}
            [ ${{ steps.version.outputs.version }} = ${{ steps.latest-version.outputs.latest_version }} ] \
              && [ ${{ steps.check-prerelease }} != true ] \
              && echo ${{ env.IMAGE_NAME }}:latest
            echo EOF
          }


      # Build and push Docker image with Buildx (don't push on PR)
      # https://github.com/docker/build-push-action
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.set-tags.outputs.TAGS }}
          platforms: linux/amd64,linux/arm64
          labels: ${{ steps.meta.outputs.labels }}
          build-args: "version=${{ steps.version.outputs.version }}"
